body{
	background: url("signupfood.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 110%;
	width:100%;
}
.logo{
	font-size: 30px;
}
.navbar{
	background: rgba(0, 0, 0, 0.6);
	border: none;
	height: 80px;
	padding: 15px;
	font-size: 20px;
	color: white;
}
.textc{
	color: white;
}
#edittitle{
	color: white;
}
#wrapper{
	border: 2px solid green;	
	width: 500px;
	margin-left: 750px;	
	text-align: center;
	border-radius: 9px;
	height: 550px;
	background: rgba(170, 232, 129, 0.5);
}
#editwrapper{
	border: 2px solid green;	
	width: 850px;
	margin-left: 325px;	
	text-align: center;
	border-radius: 9px;
	height: 500px;
	background: rgba(170, 232, 129, 0.5);
	padding-top: 10px;
}
.subttn{
	width: 200px;
	border-radius: 4px;
	border: 2px solid green;
	background-color: lightgreen;
	text-align: center;
}
.su{
	width: 275px;
	border-radius: 4px;
	border: 2px solid lightblue;
	outline: none;
	text-align: center;
}
#edit1{
	float: left;
	margin-left:100px;
}
/***************************************************/

#rows{
	width: 100%;
}
#profilepic{
	background: rgba(170, 232, 129, 0.5);
	height: 325px;
	margin-left: 120px;
}
#profileinfo{
	background: rgba(170, 232, 129, 0.7);
	height: 250px;
	margin-left: 105px;
	margin-top: 50px;
}
#reviews{
	background: rgba(170, 232, 129, 0.7);
	height: 300px; 
	margin-left: 120px;
	margin-bottom: 50px;
}
#newreviews{
	background: rgba(170, 232, 129, 0.7);	
	height: 150px; 
	margin-left: 120px;
	margin-bottom: 50px;
}
#cname{
	color: white;
}
#request{
	height: 100px;
	width: 350px;
	background: rgba(400, 232, 90, 0.9);
	box-shadow: 0 9px #666;
	outline: none;
	font-size: 24px;
	border-radius: 4px;
	border: 2px solid black;
}
#request:hover{
	background: rgba(170, 232, 129, 0.9);
}
#request:active {
  background-color: lightblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#butndiv{
	margin-left: 35%;
}







