 #map {
	height: 450px;
    width: 100%
}
#mapwrap{
	margin-left: 7%;
	box-shadow: 0px 0px 45px 5px navy;
	width: 85%;
}
#mapdiv{
	height: 550px;
	width: 95%;
	background:rgba(170, 232, 129, 0.3);
	border-radius: 10px;
	text-align: center;
	padding-top: 10px;
	margin-left: 2.5%
}
#maphead{
	color: white;
}
/***************Chef Gallery**************************/
.chefwrap{
	text-align: center;
}
#chefgallery{
	color: white;
	font-size: 23px;
}
